public net.minecraft.world.BossEvent id # id
public net.minecraft.world.effect.MobEffect attributeModifiers # attributeModifiers
#public net.minecraft.world.effect.MobEffectInstance amplifier # amplifier
#public net.minecraft.world.effect.MobEffectInstance duration # duration
#public net.minecraft.world.effect.MobEffectInstance effect # effect