public net.minecraft.world.BossEvent id # id
public net.minecraft.world.effect.MobEffect attributeModifiers # attributeModifiers
public-f net.minecraft.client.particle.ParticleEngine textureAtlas # textureAtlas
public-f net.minecraft.client.particle.ParticleEngine textureManager # textureManager

#public net.minecraft.world.effect.MobEffectInstance amplifier # amplifier
#public net.minecraft.world.effect.MobEffectInstance duration # duration
#public net.minecraft.world.effect.MobEffectInstance effect # effect